.list {list-style: none;
padding: 0;
margin: 0;}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

.no-margin {
    margin: 0;
}

.team-list {
display: flex;
    }

.team-card:not(:last-child) {
    margin-right: 30px;
}

.team-card {
    width: 270px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}

.team-caption-group {
    padding: 30px 32px;
}

.team-name {
    margin-bottom: 10px;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center; }

.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    }