/* colors 
#FFFFFF - primary bg (white)
#F5F5F5 - secondary bg
#18A0FB - accent
#000000 - title h1 h2 h3
rgba(0, 0, 0, 0.8) - main text body p
*/

/* fonts 
Montserrat 400 500 700
*/

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --primary-bg-white: #FFFFFF;
    --secondary-bg:#F5F5F5;
    --accent:#18A0FB;
    --title-h1-h2-h3:#000000;
    --primary-text-body-p:rgba(0, 0, 0, 0.8);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 3px solid tomato; */
}

body {
    background-color: var(--primary-bg-white);
    color: var(--primary-text-body-p);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

/* utilites */

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* logo */

.logo {
    color: var(--title-h1-h2-h3);
}

.logo:hover {
    color: var(--accent);
}

/* site nav */
.site-nav .link {
    color: var(--accent);
}

.site-nav .link:hover, .site-nav .link:focus {
    color: var(--title-h1-h2-h3);
}

/* hero */

.hero .title {
    color: var(--title-h1-h2-h3);
}


/* section common */
.section-title {
    color: var(--title-h1-h2-h3);
}

/*section features*/

.features .title {
    color: var(--title-h1-h2-h3);
}

/* .link {
    color: var(--accent);
}  */

/* section examples */
.work .title {
    color: var(--title-h1-h2-h3);
}

/* button */

.button {
    color: var(--title-h1-h2-h3);
    background-color: var(--primary-bg-white);
}

.button.primary {
    color: var(--primary-bg-white);
    background-color: var(--accent);
 }

.button.secondary {
    color: var(--accent);
    background-color: var(--primary-bg-white);
}




