/* colors 
#FFFFFF - primary bg (white)
#F5F5F5 - secondary bg
#18A0FB - accent
#000000 - title h1 h2 h3
rgba(0, 0, 0, 0.8) - main text body p
*/

/* fonts 
Montserrat 400 500 700
*/

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --primary-bg-white: #FFFFFF;
    --secondary-bg:#F5F5F5;
    --accent:#18A0FB;
    --title-h1-h2-h3:#000000;
    --primary-text-body-p:rgba(0, 0, 0, 0.8);
}

.container {
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: var(--primary-bg-white);
    color: var(--primary-text-body-p);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: -0.015em;
    line-height: 1.67;
}

/* utilites */

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* page header */

/* main-nav */

.page-header .main-nav{
display: flex;
align-items: center;
}

/* logo */

.logo {
    color: var(--title-h1-h2-h3);

    font-family: Comfortaa, cursive;
    font-size: 28px;
    line-height: 1.14;
    text-decoration: none;

}

.logo:hover {
    color: var(--accent);
}

/* site nav */
.site-nav {
    display: flex;
    margin-left: 70px;
    }

/* .site-nav .item + .item {
    margin-left: 40px;
} */

.site-nav .item:not(:last-child){
    margin-right: 40px;
}

.site-nav .link {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
     
    color: var(--accent);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--title-h1-h2-h3);
}
/* auth-nav */
.auth-nav {
    display: flex;
    margin: auto;
}

.auth-nav .item + .item {
    margin-left: 14px;
}

/* button */
.button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 11px 34px;
    min-width: 130px;
    
    color: var(--title-h1-h2-h3);
    background-color: var(--primary-bg-white);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-decoration: none;
    text-align: center;
    
}

.button.primary {
    border: 1px solid transparent;

    color: var(--primary-bg-white);
    background-color: var(--accent);
}

.button.secondary {
    border: 1px solid var(--accent);

    color: var(--accent);
    background-color: var(--primary-bg-white);
}

/* hero */
.hero {
    text-align: center;
}

.hero-title {
    margin-bottom: 40px;

    color: var(--title-h1-h2-h3);
    font-weight: 400;
    font-size: 56px;
    line-height: 1.43;
}

/* section common */
.section {
    padding: 120px 0 120px 0;
}

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.section-title {
    
    color: var(--title-h1-h2-h3);
    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
}

.section-title.centered, 
.section-description.centered {
    text-align: center;
}

 .section-description {
    margin-bottom: 80px;
    
    font-size: 36px;
    line-height: 1.39; 
}

/*features and examples*/
.section-title.features {
    margin-bottom: 60px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
}

/* calc (100% - кол-во маржинов в 1 строке * значение маржина)/количество элементов в строке */

.features-list .item {
    width: calc((100% - 148px) / 2);

}

.features-list .item:not(:nth-child(2n)) {
    margin-right: 148px;
}

.features-list .item:not(:nth-child(n + 2)) {
    margin-bottom: 60px;
}

/* Альтернатива */
    /* margin-right: 148px; */
    /* margin-bottom: 60px;  */
    /* .features-list .item:nth-child(2n) {
        margin-right: 0;
    } */
    
    /* .features-list .item.item:nth-child(-n + 2) {
        margin-bottom: 0;
    } */
 
/* Альтернатива в 2 действия*/
/* 1. Flex Контейнер margin - 15 px (половина) */
/* 2. margin item со всех сторон 15 px (половина)*/


/* 3 колонки */
/* .features-list .item {
    width: calc((100% - 60px) / 3); 
}
.features-list .item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.features-list .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
*/

/* 4 колонки */

/* .features-list .item {
    width: calc((100% - 60px) / 3); 
}
.features-list .item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.features-list .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
*/


.features-list .title, 
.work-list .title {
    margin-bottom: 24px;
    
    color: var(--title-h1-h2-h3);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
}

.features-list .item {

}

.features-list .text {
    margin-bottom: 32px;
    /* outline: solid 1px tomato; */
}

/* examples */
.section.examples {
    padding: 0;
}

.work .title {
    color: var(--title-h1-h2-h3);
}

.work-list >.item {
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;

}

.work-list >.item:nth-child(2n) {
    flex-direction: row-reverse;
    background-color: var(--secondary-bg);
}

.work-list >.item:nth-child(2n+1) .content {
margin-left: 84px;
}

.work-list>.item:nth-child(2n) .content {
margin-right: 84px;
}


/* testimonials*/
.testimonials .section-title {
    margin-bottom: 30px;
}



/* Signup */



